<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- allows the use of thymeleaf expressions-->

<head>
    <title>Epub Downloader</title>

    <!-- REPLACE HREF BELOW WITH th:href="@{/css/style.css}" -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />
</head>

<body>

<main>
    <h1>Ebook Downloader</h1>

    <section th:class="instructions">
        <h2>Instructions:</h2>
        <ul>
            <li>Find the book you like in <a href="https://www.epub.pub">https://www.epub.pub</a> or <a href="https://www.allfreenovel.com">www.allfreenovel.com</a></li>
            <li>Copy the book url into the box below.</li>
            <li>Click Submit</li>
        </ul>
    </section>

    <h3></h3>
    <form th:action="@{/download}" th:method="POST" th:object="${config}">
        <label th:for="url">
            <input th:type="text" th:id="url-input" th:name="url" th:field="*{input}"/>
        </label>
        <label th:for="submit">
            <input  th:type="submit" value="Submit" th:onsubmit=""/>
        </label>
    </form>

</main>


<footer>
    <p>Ebook Downloader</p>
</footer>

</body>
</html>